<!DOCTYPE html>
<html>
	<head>
		<base href='/' />
		<title>Materia Developer Kit</title>
		<link href='//fonts.googleapis.com/css?family=Lato:300,400,700|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='/mdk/assets/css/mdk-main.css' type='text/css' />
		<link rel='stylesheet' href='/mdk/assets/css/mdk-creator.css' type='text/css' />
		<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
		<script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js'></script>
		<script src='//cdnjs.cloudflare.com/ajax/libs/swfobject/2.2/swfobject.min.js'></script>
	</head>
	<body>
		<div id='topbar'>
			<a class='logo' href='/'>Materia Developer Kit</a>
			<div class='tools'>
				<button class='edit_button orange' onclick='location.href="/player";'>Player (Demo)</button>
				<button class='edit_button orange' id='importLink'>Import Questions</button>
				<button class='edit_button orange' id='downloadLink'>Download Package</button>
				<button id='creatorSaveBtn' class='edit_button orange'>Save Draft</button>
				<button id='creatorPreviewBtn' class='edit_button orange'><span id='previewBtnTxt'>Player (Preview)</span></button>
			</div>
		</div>
		<div class='center'>
			<div id='container'></div>
		</div>

		<div id='modalbg'></div>

		<script src='/mdk/assets/js/mdk-creator.js'></script>

		<script>
			var __PLAY_ID = 'demo';
			var BASE_URL = 'http://localhost:{{port}}/';
			var API_LINK = 'http://localhost:{{port}}/';
			var WIDGET_URL = 'http://localhost:{{port}}/';
			var STATIC_CROSSDOMAIN = 'http://localhost:{{port}}/';

			Materia.Creator.init('container', null, '{{instance}}');
		</script>
	</body>
</html>
