<link rel='stylesheet' href='/mwdk/assets/css/mwdk-download.css' type='text/css' />

<h1 class='centered'>Download or Install:</h1>
<hr/>
<div id='build-commands' class='centered'>
	<a href="/mwdk/download"><button class='edit_button orange' id='download_button'>Download .wigt</button></a>
	<a href="/mwdk/install"><button class='edit_button orange' id='install_button'>Install to Docker Materia</button></a>
</div>

<div class='centered'>
	<a id="cancel-button" href="#">Cancel</a>
</div>

<script>
	document.getElementById('cancel-button').onclick = (e) => {
		window.parent.MWDK.Package.cancel();
		return false
	}
</script>
