<!DOCTYPE html>
<html>
	<head>
		<base href="/"/>
		<title>DevMateria - Download or Install</title>
		<link href='//fonts.googleapis.com/css?family=Lato:300,400,700|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='/mdk/assets/css/mdk-main.css' type='text/css' />
		<link rel='stylesheet' href='/mdk/assets/css/mdk-download.css' type='text/css' />
	</head>
	<body class='white'>
		<h1 class='centered'>Download or Install:</h1>
		<hr/>
		<div id='build-commands' class='centered'>
			<a id="cancel-button" href="#">Cancel</a>
			<a href="/mdk/download"><button class='edit_button orange' id='download_button'>Downloading Package</button></a>
			<a href="/mdk/install"></a><button class='edit_button orange' id='install_button'>Installing to Materia</button></a>
		</div>

		<script type="text/javascript">
			document.getElementById('cancel-button').onclick = (e) => {
				window.parent.Materia.Package.cancel();
				return false
			}
		</script>
	</body>
</html>
