<div id="topbar">
	<a class='logo' href='/'>Materia Widget Developer Kit</a>
</div>

<content class="mwdk-home">
	<img src='/img/icon-275.png' />
	<aside>
		<div class='title'>{{title}}</div>
		<a id='player_button'  href="/preview"><button class='orange edit_button'>Player</button></a>
		<a id='creator_button' onclick="location.href='/mwdk/widgets/1-mwdk/create';"><button class='orange edit_button'>Creator</button></a>
		<h5>Additional Tools</h5>
		<a id="annotation-button" class="helper-button" href="/mwdk/helper/annotations"><button>Annotate Screenshots</button></a>
		<a id='icons_button' class='helper-button' href="/mwdk/icons/"><button>Generate Icons</button></a>
		<div>
			<label for='qsets'>Select Saved Widget:</label>
			<select id='qsets'>
				<option value=''>New</option>
			</select>
		</div>
	</aside>
</content>
<script src='/mwdk/mwdk-assets/js/mwdk-splash.js'></script>
