<div id="topbar">
	<span class='logo'>Materia Developer Kit</span>
</div>

<center class='widget'>
	<img src='/img/icon-275.png' />
	<div class='title'>{{title}}</div>
	<a id='player_button'  href="/mdk/player"><button class='orange edit_button'>Player</button></a>
	<a id='creator_button' href="/mdk/creator"><button class='orange edit_button'>Creator</button></a>
</center>
<center class='qsets'>
	<label for='qsets'>Select Saved Widget:</label>
	<select id='qsets'>
		<option value=''>New</option>
	</select>
</center>

<center>
	<a href="/webpack-dev-server"><button>View Compiled Widget Assets</button></a>
</center>

<script src='/mdk/assets/js/materia.namespace.js'></script>
<script src='/mdk/assets/js/materia.coms.json.js'></script>
<script src='/mdk/assets/js/mdk-splash.js'></script>

<script type='text/javascript'>
	var API_LINK = '';
	Materia.Splash.init();
</script>
