<!DOCTYPE html>
<html>
	<head>
		<title>Materia Widget Developer Kit - {{ title }}</title>
		<link href='//fonts.googleapis.com/css?family=Lato:300,400,700|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='/mwdk/assets/css/mwdk-main.css' type='text/css' />
		<script>
			var BASE_URL = '/mwdk/'
			var API_LINK = '/api/json/'
			var WIDGET_URL = '/'
			var MEDIA_URL = '/mwdk/media'
			var STATIC_CROSSDOMAIN = 'http://localhost:{{ port }}/'
		</script>
	</head>
	<body id="{{ template }}" >
		<div id='modalbg'></div>
		{{{ yield }}}
	</body>
</html>
