<link rel="stylesheet" href="/mwdk/assets/css/main.css" type="text/css" />
<link rel="stylesheet" href="/mwdk/assets/css/widget-play.css" type="text/css" />
<link rel="stylesheet" href="/mwdk/assets/css/ng-modal.css" type="text/css" />
<link rel="stylesheet" href="/mwdk/assets/css/mwdk-player.css" type="text/css" />
<link rel="stylesheet" href="/mwdk/assets/css/mwdk-download.css" type="text/css" />

<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
<script src="/mwdk/assets/js/materia.js"></script>
<script src="/mwdk/assets/js/student.js"></script>
<script src="/mwdk/mwdk-assets/js/mwdk-package.js"></script>

<script >
	var PLAY_ID = '{{ instance }}';
</script>

<div id="topbar">
	<a class="logo" href="/">Materia Widget Developer Kit</a>
	<div class="tools">
		<button id='qset_button' class="edit_button orange">Qset Panel</button>
		<button id='storage_button' class="edit_button orange">Storage Panel</button>
		<button class="edit_button orange" onclick="location.href='/mwdk/widgets/1-mwdk/';">Creator</button>
		<button id="downloadLink" class="edit_button orange" onclick="MWDK.Package.showPackageDownload();">Download Package</button>
	</div>
</div>


<div id='modalbg'></div>


{{! Change the mustache brackets to ERB style so that angular code won't get messed up }}
{{=<% %>=}}
<div class="widget" ng-app="materia">
	<section class="widget" ng-controller="playerCtrl"
		ng-init="inst_id = '<% instance %>'"
		ng-class="{ preview: isPreview }">
		<header ng-if="isPreview" class="preview-bar"></header>
		<div class="center" ng-show="type == 'flash' || type == 'html'">
			<iframe ng-attr-src="{{ htmlPath }}" ng-if="type == 'html'" id="container" class="html" scrolling="yes" fullscreen-dir></iframe>
			<div id="container" ng-if="type =='flash'"></div>
		</div>
		<div id="container" ng-if="type =='noflash'">
			No Flash
		</div>
	</section>

	<div ng-controller="alertCtrl">
		<modal-dialog show="alert.msg"
			class="alert"
			ng-class="{ fatal: alert.fatal }"
			dialog-title="{{ alert.title }}"
			width="520px"
			z-index="1000000">
			<p>{{ alert.msg }}</p>
			<button ng-hide="alert.fatal" ng-click="alert.msg = null" class="action_button">Okay</button>
			<button ng-show="alert.enableLoginButton" ng-click="reloadPage()" class="action_button">Click Here to Login</button>
		</modal-dialog>
	</div>
</div>
<%={{ }}=%>
{{! Return mustache to normal }}
