<!DOCTYPE html>
<html>
	<head>
		<base href='/' />
		<title>Materia Developer Kit - Player</title>
		<link href='//fonts.googleapis.com/css?family=Lato:300,400,700|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='/mdk/assets/css/mdk-main.css' type='text/css' />
		<link rel='stylesheet' href='/mdk/assets/css/mdk-player.css' type='text/css' />
		<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
		<script src='//cdnjs.cloudflare.com/ajax/libs/swfobject/2.2/swfobject.min.js'></script>
	</head>
	<body>
		<div id='leftbar'>
			<a href='#' id="sidebarbtn">&larr;</a>
			<a class='logo' href="/">Materia Dev</a>

			<div class='tabcontainer'>
				<div class="tabtitle qset">Qset</div>
				<div class="tabtitle storage deactivated">Storage</div>

				<div id='qsettab' class='tab qset visible'>
					<div class='scroll'>
						<textarea id='qset'></textarea>

						<input type='button' id='btnReload' value='Load Qset'>
					</div>
				</div>
				<div id='storagetab' class='tab storage'>
					<div class='scroll'>
						<select id='tableselect'></select>
						<div id='storagetable'>
						</div>
					</div>
				</div>
			</div>

			<div id='build-options'>
				<button id='downloadLink'>Download Package</button>
				<hr/>
				<div id='switch'>
					<p>SWITCH TO:</p>
					<a href='/creator/'>Creator</a><br/>
					<hr/>
				</div>
			</div>

		</div>

		<div class='center'>
			<div id='container'>
			</div>
		</div>

		<div id='modalbg'></div>

		<script src='/mdk/assets/js/mdk-player.js'></script>
		<script type='text/javascript'>
			var __PLAY_ID = '{{instance}}';
			var BASE_URL = '/';
			var API_LINK = '/';
			var WIDGET_URL = '/';
			var STATIC_CROSSDOMAIN = '/';
			Materia.Player.init(API_LINK, __PLAY_ID , 'container', BASE_URL);
		</script>
	</body>
</html>
