<link rel="stylesheet" href="/mdk/assets/css/play.css" type="text/css" />
<link rel='stylesheet' href='/mdk/assets/css/mdk-creator.css' type='text/css' />
<link rel='stylesheet' href='/mdk/assets/css/mdk-download.css' type='text/css' />

<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular.js?"></script>
<script src="//materia.ucf.edu/assets/js/lib/bower/ngModal/dist/ng-modal.min.js?"></script>
<!-- <script src='//cdnjs.cloudflare.com/ajax/libs/swfobject/2.2/swfobject.min.js'></script> -->
<script src="/mdk/assets/js/materia.js"></script>
<script src="/mdk/assets/js/student.js"></script>
<script src="/mdk/mdk-assets/js/mdk-package.js"></script>
<script src="/mdk/mdk-assets/js/mdk-player.js"></script>

<script >
	var PLAY_ID = '{{ instance }}';
</script>

<div id="topbar">
	<a class="logo" href="/">Materia Developer Kit</a>
	<div class="tools">
		<button class="edit_button orange">Qset Panel</button>
		<button class="edit_button orange">Storage Panel</button>
		<button class="edit_button orange" onclick="location.href='/mdk/widgets/1-mdk/';">Creator</button>
		<button id="downloadLink" class="edit_button orange" onclick="MDK.Package.showPackageDownload();">Download Package</button>
	</div>
</div>


<div id='modalbg'></div>

<!-- <div id='leftbar'>
	<a href='#' id="sidebarbtn">&larr;</a>
	<a class='logo' href="/">MDK</a>

	<div class='tabcontainer'>
		<div class="tabtitle qset">Qset</div>
		<div class="tabtitle storage deactivated">Storage</div>

		<div id='qsettab' class='tab qset visible'>
			<div class='scroll'>
				<textarea id='qset'></textarea>

				<input type='button' id='btnReload' value='Load Qset'>
			</div>
		</div>
		<div id='storagetab' class='tab storage'>
			<div class='scroll'>
				<select id='tableselect'></select>
				<div id='storagetable'>
				</div>
			</div>
		</div>
	</div>

	<div id='build-options'>
		<button id='downloadLink' onclick="MDK.Package.showPackageDownload();">Download Package</button>
		<hr/>
		<div id='switch'>
			<p>SWITCH TO:</p>
			<a href='/mdk/widgets/1-mdk/'>Creator</a><br/>
			<hr/>
		</div>
	</div>

</div> -->

{{! Change the mustache brackets to ERB style so that angular code won't get messed up }}
{{=<% %>=}}
<div class="widget" ng-app="materia">
	<section class="widget" ng-controller="playerCtrl" ng-init="inst_id = 'demo'" ng-class="{ preview: isPreview }">
		<header ng-if="isPreview" class="preview-bar"></header>
		<div class="center" ng-show="type == 'flash' || type == 'html'">
			<iframe ng-attr-src="{{ htmlPath }}" ng-if="type == 'html'" id="container" class="html" scrolling="yes" fullscreen-dir></iframe>
			<div id="container" ng-if="type =='flash'"></div>
		</div>
		<div id="container" ng-if="type =='noflash'">
			No Flash
		</div>
	</section>

	<div ng-controller="alertCtrl">
		<modal-dialog show="alert.msg"
			class="alert"
			ng-class="{ fatal: alert.fatal }"
			dialog-title="{{ alert.title }}"
			width="520px"
			z-index="1000000">
			<p>{{ alert.msg }}</p>
			<button ng-hide="alert.fatal" ng-click="alert.msg = null" class="action_button">Okay</button>
			<button ng-show="alert.enableLoginButton" ng-click="reloadPage()" class="action_button">Click Here to Login</button>
		</modal-dialog>
	</div>
</div>
<%={{ }}=%>
{{! Return mustache to normal }}
