<!DOCTYPE html>
<html>
	<head>
		<base href="/"/>
		<title>Materia Developer Kit - Preview Blocked</title>
		<link href='//fonts.googleapis.com/css?family=Lato:300,400,700|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='/mdk/assets/css/mdk-main.css' type='text/css' />
		<link rel='stylesheet' href='/mdk/assets/css/mdk-download.css' type='text/css' />
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	</head>
	<body class='white'>
		<h1 class='centered'>Preview Blocked</h1>
		<div class='centered'>
			<p>
				<a href='/player/{{instance}}' target='_blank'>Try Again</a>
			</p>
			<p>
				<a id='close-button' href='#'>Close</a>
			</p>
		</div>

		<script type="text/javascript">
			$('#close-button').click(function(e){
				e.preventDefault();
				e.stopPropagation();
				window.parent.Materia.Creator.onQuestionImportComplete();
			});
		</script>
	</body>
</html>
