<!DOCTYPE html>

<script type="text/javascript" src="/materia-assets/js/materia.enginecore.js"></script>
<script src="/mwdk/mwdk-assets/js/mwdk-package.js"></script>
<link rel='stylesheet' href='/mwdk/assets/css/mwdk-main.css' type='text/css' />

<h1 class='center centered'>Preview Blocked</h1>
<div class='center centered'>
	<p>
		<a id='try-again-button' class='action_button' target='_blank'>Try Again</a>
	</p>
</div>

<script type="text/javascript">
	document.getElementById('try-again-button').onclick = (e) => {
		MWDK.Package.showPlayer();
		return false
	}
</script>
