<link rel='stylesheet' href='/mwdk/assets/css/mwdk-datatable.css' type='text/css' />
<link rel="stylesheet" href="/mwdk/assets/css/mwdk-main.css" type="text/css" />
<link rel='stylesheet' href='/mwdk/mwdk-assets/css/question-importer.css' type='text/css' />

<script type="text/javascript" src="/mwdk/mwdk-assets/materia.enginecore.js"></script>
<script type="text/javascript" src="/mwdk/mwdk-assets/materia.creatorcore.js"></script>

<div id="app"></div>

<script type="text/javascript" src="/mwdk/mwdk-assets/question-importer.js"></script>
