body#download {
	background: #ffffff;
}

body#download .centered {
	text-align: center;
}

body#download .edit_button {
	display: inline-block;
}

body#download table,
body#download .disclaimer {
	padding-left: 20px;
}

body#download hr {
	margin: 15px 50px 0;
}

body#download #cancel-button{
	color: #555;
	text-decoration: underline;
}

body#download #build-commands{
	margin: 47px;
}

body#download #download_button{
	margin-right:20px;
}