body#download {
	background: #ffffff;
}

body#download .centered {
	text-align: center;
}

body#download .edit_button {
	display: inline-block;
}

body#download table,
body#download .disclaimer {
	padding-left: 20px;
}

body#download hr {
	margin: 15px 50px 0;
}

body#download #cancel-button{
	color: #555;
	text-decoration: underline;
}

body#download #build-commands{
	margin: 47px;
}

body#download #download_button{
	margin-right:20px;
}

body#download #preflight-checklist-container{
	display: block;
	text-align: center;
}

body#download #preflight-checklist{
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 auto;
}

body#download #preflight-checklist > span .action{
	font-size: 10px;
}

body#download #preflight-checklist > span:before{
	display: inline-block;
	text-align: left;
	width: 20px;
}

body#download #preflight-checklist > span.pass:before{
	content: "✔";
	color: green;
}
body#download #preflight-checklist > span.fail:before{
	content: "X";
	color: red;
}
body#download #preflight-checklist > span.unknown:before{
	content: "?";
	color: orange;
}