body {
	padding: 0px;
	margin: 0px;

	background: url(./../img/back.png);
	font-family: 'Lato';
}

.logo {
	width: 150px;
	padding-left: 60px;
	margin-left: 5px;
	font-size: 26px;
	font-family: 'Lato';
	font-weight: 300;
	background: url(./../img/materialogo.png);
	background-repeat: no-repeat;
	color: #000;
	text-decoration: none;
}

.mwdk-home {
	display: block;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background: #ffffff;
	border: solid 1px #0093e7;
}

.mwdk-home img {
	display: inline-block;
	margin: 10px;
}


.mwdk-home aside {
	display: inline-block;
	width: 470px;
	padding: 15px;
	vertical-align: top;
}

.mwdk-home aside .edit_button {
	font-size: 1.3em;
}

.mwdk-home .title {
	font-size: 1.8em;
}

#leftbar {
	width: 250px;
	background: #333;
	color: #fff;
	padding: 10px;
	bottom: 0px;
	top: 0px;
	position: fixed;
	float: left;
	overflow: auto;
}

#leftbar a {
	color: #fff;
}

#sidebarbtn {
	text-decoration: none;
	float: right;
}

#leftbar.shrink {
	width: 60px;
}

#leftbar.shrink .logo {
	font-size: 0px;
	width: 50px;
	height: 50px;
	display: block;
}

#leftbar.shrink .scroll {
	display: none;
}

#leftbar .scroll {
	margin-top: 20px;
}

#topbar {
	background: #fff;
	color: #000;
	padding: 20px;
	margin-bottom: 20px;
	height: 30px;
	border-bottom: solid 4px #0093e7;
}

.tools {
	margin-top: -12px;
	float: right;
}

.creator {
	margin-left: 0px;
	margin-top: 200px;
	width: 100%;
	height: 100%;
}

.center {
	/*
	Default to 100% in creator and player
	In the player, the js will set the size according
	*/
	width: 100%;
	height: 100%;
	margin: auto;
}

.center.full {
	margin-top: 100px;
	width: calc(100% - 120px);
	height: 600px;
}

#modalbg {
	background: rgba(0,0,0,.5);
	position:fixed;
	top:0;
	left:0;
	display: none;
	z-index: 1000;
	width: 100%;
	height: 100%;
}
#modalbg.visible {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#mwdk_dialog {
	position: relative;
	background: #fff;

	width: 500px;
	height: 280px;

	margin: 0 auto;
}

#mwdk_dialog pre {
	font-size: 10px;
}

iframe {
	border: none;
}

textarea {
	width: 250px;
	height: 300px;
	overflow: auto;
	font-family: 'Droid Sans Mono';
	color: #fff;
	background: none;
}

h1 {
	font-weight: 300;
	font-size: 30px;
}

h2 {
	font-weight: 300;
}

.widget_list {
	top: 100px;
	display: block;
	width: 500px;
	background: #fff;
	margin: auto;
	position: relative;
	padding: 10px;
	border: solid 1px #ccc;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.widget {
	margin-bottom: 30px;
	text-align: center;
}

.widget img {
	max-width: 495px;
	max-height: 360px;
	display: block;
	margin: auto;
}

.widget .title {
	font-size: 30px;
}

.widget .orange {
	padding: 10px;
	font-size: 30px;
	text-decoration:none;
	margin-top: 10px;
	margin-right: 10px;
	display: inline-block;
}

.orange
{
	background:#ff8f11;
	background-image: -webkit-linear-gradient(top, #ffbc78, #ff8f11);
	background-image: -o-linear-gradient(top, #ffbc78, #ff8f11);
	background-image: -moz-linear-gradient(top, #ffbc78, #ff8f11);
	background-image: -ms-linear-gradient(top, #ffbc78, #ff8f11);
	border:#ff8f11 1px solid;
	color: #694d28;
}
.orange:hover
{
	background:#ffce8c;
	background-image: -webkit-linear-gradient(top, #ff8f11, #ffbc78);
	background-image: -o-linear-gradient(top, #ff8f11, #ffbc78);
	background-image: -moz-linear-gradient(top, #ff8f11, #ffbc78);
	background-image: -ms-linear-gradient(top, #ff8f11, #ffbc78);
	text-decoration:none;
}
.red
{
	background:#ff1111;
	background-image: -webkit-linear-gradient(top, #ff8178, #ff1111);
	background-image: -o-linear-gradient(top, #ff8178, #ff1111);
	background-image: -moz-linear-gradient(top, #ff8178, #ff1111);
	background-image: -ms-linear-gradient(top, #ff8178, #ff1111);
	border:rgb(196, 18, 18) 1px solid;
	color: #694d28;
}
.red:hover
{
	background:#ff8c8c;
	background-image: -webkit-linear-gradient(top, #ff1111, #ff8178);
	background-image: -o-linear-gradient(top, #ff1111, #ff8178);
	background-image: -moz-linear-gradient(top, #ff1111, #ff8178);
	background-image: -ms-linear-gradient(top, #ff1111, #ff8178);
	text-decoration:none;
}

.edit_button {
	margin: 10px 0 0 6px;

	font-family: Lato, arial, serif;
	padding: 7px 13px 8px 13px;

	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font-weight:700;
	color:#694d28;
	text-shadow: 1px 1px 1px rgba(256, 256, 256, 0.75);
	-moz-box-shadow: 1px 2px 4px #888;
	-webkit-box-shadow: 1px 2px 4px #888;
	box-shadow: 1px 2px 4px #888;
	font-size: 15px;
	position:relative;
	cursor:pointer;
	display:inline-block;

	color: #333;
}

.tab {
	display: none;
}

.tab.visible {
	display: block;
}

.tabtitle {
	display: inline-block;
	font-size: 20px;
	color: #fff;
	margin: 10px;
	cursor: pointer;
}

.tabtitle.deactivated {
	color: #999;
}

#storagetable {
	max-height: 400px;
	overflow: auto;
	max-width: 260px;
	font-size: 11px;
}

.screenshot {
	background: url(./../img/defaultscreenshot.png);
	background-size: cover;
	width: 495px;
	height: 360px;
	display: block;
}

#container {
	height: 100%;
	width: 100%;
}

.helper-button button {
	margin-right: 6px;
	margin-bottom: 15px;
	padding: 6px;

	font-size: 1.1em;
	color: #000;

	border: solid 1px #9bb827;
	border-radius: 4px;
	background: #c4dd61;
	background-image: -webkit-linear-gradient(top, #ddee99, #c4dd61);
	background-image: -o-linear-gradient(top, #ddee99, #c4dd61);
	background-image: -moz-linear-gradient(top, #ddee99, #c4dd61);
	background-image: -ms-linear-gradient(top, #ddee99, #c4dd61);

	-moz-box-shadow: 1px 2px 4px #888;
	-webkit-box-shadow: 1px 2px 4px #888;
	box-shadow: 1px 2px 4px #888;

	cursor: pointer;
}

.helper-button button:hover {
	background: #ddee99;
	background-image: -webkit-linear-gradient(top, #c4dd61, #ddee99);
	background-image: -o-linear-gradient(top, #c4dd61, #ddee99);
	background-image: -moz-linear-gradient(top, #c4dd61, #ddee99);
	background-image: -ms-linear-gradient(top, #c4dd61, #ddee99);
}

.helper-content {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.helper-content #instructions {
	display: inline-block;
	width: 75%;
}

.helper-content #local-upload-button {
	float: right;
	width: 20%;
	margin-top: 15px;
	margin-left: 5%;
}

.helper-content .screenshot-selection {
	width: 100%;
	height: 165px;

	padding-top: 10px;
	padding-left: 10px;
	overflow: hidden;
	border: solid 1px #0093e7;

	background: #FFFFFF;
}

.helper-content .img-selection {
	display: inline-block;
	width: 200px;
	height: 150px;
	margin-right: 10px;
	vertical-align: top;
	cursor: pointer;
}

.helper-content .img-selection:nth-child(1) {
	background: url('/img/screen-shots/1.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.helper-content .img-selection:nth-child(2) {
	background: url('/img/screen-shots/2.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.helper-content .img-selection:nth-child(3) {
	background: url('/img/screen-shots/3.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.helper-content .img-selection img {
	display: none;
	transform-origin: left top;
	transform: scale(0.25);
	/* max-width: 200px;
	max-height: 150px; */
}

.helper-content #toolbox {
	width: 100%;
	padding: 5px;
	margin-bottom: 5px;
}

.helper-content #toolbox button {
	background: #ffffff;
	margin-right: 6px;
	padding: 6px;

	font-size: 1.2em;
	color: #000;

	border: solid 1px #909090;
	border-radius: 4px;
}

.helper-content #toolbox button:hover {
	background: #a0dafc;
}

.helper-content #toolbox a {
	display: block;
	float: right;

	background: #ffffff;
	margin-right: 6px;
	padding: 6px;

	font-size: 1.2em;
	color: #000;
	text-decoration: none;

	border: solid 1px #909090;
	border-radius: 4px;
}

.helper-content #tips {
	padding: 10px;
	margin: 15px 0px 25px 0px;
	background: #fff;
	border: solid 1px #a0dafc;
	border-radius: 5px;
}

.helper-content #annotation-editor {
	display: none;
	/* width: 800px;
	height: 600px; */
}

/* Hide Materia header */
header.logged-in {
	display: none;
}
.guideIframe {
	width: 100%;
}

/* Hide login timeout */
.alert-wrapper {
	display: none;
}

.dot {
	display: none !important;
}

#creatorPublishBtn, #saveHistoryLink, #returnLink {
	display: none;
}

#warning {
	max-width: 1000px;
	padding: 0 2em;
}

#message {
	color: red;
}