#body.player_mwdk .logo {
	color: #fff;
}

#leftbar + .widget[ng-app="materia"] {
	margin-left: 300px;
}

#leftbar.shrink + .widget[ng-app="materia"] {
	margin-left: 120px;
}

#body.player_mwdk .widget[ng-app="materia"]{
	display: block;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
	margin-top: 20px;
}

#body.player_mwdk #build-options hr,
#body.player_mwdk #test-options hr {
	margin-top: 20px;
}

#body.player_mwdk #build-options p.disclaimer,
#body.player_mwdk #test-options p.disclaimer {
	font-size: 11px;
}

#body.player_mwdk #rebuild button {
	margin-left: 10px;
}
