html, body {
	line-height: 1.5em;
}
body {
	max-width: 800px;
	margin: auto;
	
	padding: 10px;

	font-family: 'Lato', arial, serif;
}

h1, h2, h3, h4 {
	color: #333333;
	word-break: break-word;
}

h1 {
	font-size: 50px;
	line-height: 45px;
	letter-spacing: -1px;
	font-weight: 200;
	margin: 30px 0 30px 0;
}

h3 {
	color: #5e5e5e;
	font-size: 18px;
}

h4, h5, h6 {
	font-size: 16px;
	color: #5e5e5e;
}

img + h2,
ol + h2 {
	margin-top: 0;
}

table {
	color: black;
	background: white;

	th {
		text-align: left;
		background: #eee;
	}

	td,
	th {
		padding: 3px 8px 3px 8px;
		border: 1px solid #e4e4e4;
	}

	tr:nth-child(even) {
		background: #f9f9f9;
	}
}

code {
	color: #272822;
	background: #ddd;
	padding: .3em .6em;
	// TODO handle long code
	//white-space: nowrap;
}

p {
	color: black;
	font-size: 16px;
}

sup {
	font-size: 0.75em;
	vertical-align: top;
	top:0em;
}

blockquote,
aside {
	font-size: 11pt;
	color: black;
	display: block;
	background: #FCF6D4;
	padding: 1em;
	border-radius: 8px;
	margin: 1em 0 1em 0;
}

li {
	line-height: inherit;
}

aside h1 {
	line-height: 1em;
	font-size: 14pt;
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 0;
}

.page-wrapper {
	min-height: 100%;
	margin: 0 auto;
}

pre {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}

pre code {
	background: #272822;
	border-radius: 6px;
	display: block;
	padding: 1em;
	margin: 2em 0 2em 0;
	font-size: 10pt;
	tab-size: 4;
}

/* smaller headings */
h1 {
	font-size: 40px;
	line-height: 45px;
	letter-spacing: -1px;
	font-weight: 200;
	margin: 0 0 20px 0;
}

img {
	max-width: 100%;
	box-shadow: 0 0 6px #9e9e9e;
}

// *****************
// Modified Molokai-Sublime Highlight.js Theme
// *****************

// all multi-line code blocks MUST have a language
code[class^='language'] {
	display: block;
	overflow-x: auto;
	padding: .5em;
	background: #272822;
	color: #ddd;
}

.hljs-tag,.hljs-keyword,.hljs-selector-tag,.hljs-literal,.hljs-strong,.hljs-name {
	color: #f92672;
}

.hljs-code {
	color: #66d9ef;
}

.hljs-class .hljs-title {
	color: white;
}

.hljs-attribute,.hljs-symbol,.hljs-regexp,.hljs-link {
	color: #bf79db;
}

.hljs-string,.hljs-bullet,.hljs-subst,.hljs-title,.hljs-section,.hljs-emphasis,.hljs-type,.hljs-built_in,.hljs-builtin-name,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-addition,.hljs-variable,.hljs-template-tag,.hljs-template-variable {
	color: #a6e22e;
}

.hljs-comment,.hljs-quote,.hljs-deletion,.hljs-meta {
	color: #75715e;
}

.hljs-keyword,.hljs-selector-tag,.hljs-literal,.hljs-doctag,.hljs-title,.hljs-section,.hljs-type,.hljs-selector-id {
	font-weight: bold;
}
